{% extends 'base.html' %}


{% block content %}

<div>
    <div style="text-align:center; max-width: 500px; margin: 4rem auto;">



        <img src="{{ target_project.image.url }}" alt="logo img"
        style="object-fit: cover; height: 10rem;width: 10rem; border-radius: 10rem; margin-bottom: 1rem;">
        <h2 style="font-family: mbe;">

            {{ target_project.title }}
        </h2>
        <h6 style="margin-bottom: 2rem;">
            {{ target_project.description }}
        </h6>
        {% if user.is_authenticated %}
        {% if not subscription %}
        <div class="text-center" >
            <a class="btn btn-primary rounded-pill px-4"  href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}">
                Subscribe
            </a>
        </div>
        {% else %}
        <div class="text-center" >
            <a class="btn btn-dark rounded-pill px-4"  href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}">
                Unsubscribe
            </a>
        </div>
        {% endif %}

        {% endif %}

    </div>
</div>
<hr>
<div>
    {% include 'snippets/list_fragment.html' with article_list=object_list %}
</div>


{% endblock %}