{% extends "base.html" %}

{% block head %}
<title>IT 학습 : 풀이확인</title>
<style>
    .table-body{
        width: 100%;
        table-layout: fixed;
    }

.lenght-mt{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
}

</style>
{% endblock %}

{% block body %}

{% if list %}
<table class="table container table-body table-hover">
    <thead class=" align-middle text-center ">
      <tr>
        <th scope="col" style="width: 6%;">번호</th>
        <th scope="col" style="width: 20%">푼사람</th>
        <th scope="col" style="width: 60%">푼 문제</th>
        <th scope="col" style="width: 7%">점수</th>
      </tr>
    </thead>
    <tbody class="align-middle text-center ">
        {% for sol in list %}
        <tr onclick="location.href='/check/{{sol.id}}'">
            
            <th scope="row"  class=""> {{sol.id}}</th>
            <td class="lenght-mt">{{sol.user_id}}</td>
            <td class="lenght-mt">{{sol.problem_id}}</td>
            <td class="lenght-mt">
              {% if sol.check %}
                ⭕
              {% else %}
                {% if sol.check == None %}
                채점요구
                {% else %}
                ❌
                {% endif %}
              {% endif %}
            </td>
       
          </tr>
        {% endfor %}
    </tbody>
  </table>


{% endif %}

{% endblock %}