{% extends "base.html" %}

{% block head %}
<title>IT 학습 : {{sovle.id}} 풀이</title>

{% endblock %}

{% block body %}

{% if sovle %}

<div class="container mt-5">
    <h3>문제 {{sovle.problem.title}} </h3>
    <div class="mt-5">
        <label> 대답</label>
        <p>{{sovle.answer}}</p>
    </div>
    <div class="mt-5">
        <label>정답</label>
        <p>{{sovle.problem.text}}</p>
    </div>

    <div class="row">
        <form action="." method="get" class="col-1">
            <input name="check" value="1" hidden>
            <input type="submit" value="정답" class="btn btn-primary">
        </form>
        <form action="." method="get" class="col-1">
            <input name="check" value="0" hidden>
            <input type="submit" value="틀림" class="btn btn-primary">
        </form>
        <div class="col-2"><a href="/check/" class="btn btn-primary">목록으로</a></div>
    </div>
</div>


{% else %}
<div class="container text-center">해당 문제는 없습니다.</div>
{% endif %}

{% endblock %}