{% extends "base.html" %}

{% block head %}
<title>IT 학습 : {{problem.id}} 문제</title>
<style>
    .body{
        width: 70%;
    }

.lenght-mt{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
}

</style>
{% endblock %}

{% block body %}

{% if problem %}

<div class="container mt-5">
    <h3>문제 {{problem.id}}. {{problem.title}}</h3>
    <p class="mt-5">{{problem.text}}</p>
    <p>이미지도 추가하면 좋지... 않을까요?</p>
</div>


{% else %}
<div class="container text-center">해당 문제는 없습니다.</div>
{% endif %}

{% endblock %}