{% extends "base.html" %} {% block head %}
<title>IT 학습 : {{problem.id}} 문제</title>

{% endblock %} {% block body %}
{% if problem %}

<div class="container mt-5">
    <h3>문제 {{problem.id}}. {{problem.title}}</h3>

    <div class="card mt-5">
        <div class="card-body">
            <label>정답</label>
            <p class="mt-2">{{problem.text}}</p>
        </div>
    </div>
    <div class="row  row-cols-3">
        <div class="col-2 mt-3"><a href="/problem/" class="btn btn-primary">목록으로</a></div>
    </div>
</div>

{% else %}
<div class="container text-center">해당 문제는 없습니다.</div>
{% endif %}
{% endblock %}