{% extends "base.html" %}

{% block head %}
<title>IT 학습 : 문제풀기</title>
<style>
  input{
    width: 50%;
  }
</style>
{% endblock %}

{% block body %}

{% if pro %}
<div class="container mt-5">
<form  class="form-control" action="/submission/" method="get">
{% for x in pro %}

  <div>
  <p>{{x.id}}번 {{x.title}}</p>
  <input type="text" name="{{x.id}}" id="">
  </div>

{% endfor %}
<div class="row">
<input class="btn btn-primary m-3 col " type="submit" value="제출">
</div>
</form>
</div>


{% else %}
<div class="container mt-5 text-center ">
    <h3>몇개의 문제를 풀겠습니까?</h3>
    <form action="." method="get" >

        <!-- {{form.csrf_token}} -->
        <label for=""></label>
        <input type="number" min="1" max="9" name="tn">
        <input type="submit" value="제출">
    </form>
</div>
{% endif %}


{% endblock %}